[Unit]
Description=gameplayer-bot Game Player
After=gameplayer-bot-gadget.service
Requires=gameplayer-bot-gadget.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 __REPO_DIR__/src/main.py --boot --camera csi
WorkingDirectory=__REPO_DIR__
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
