[Unit]
Description=gameplayer-bot Game Player
After=gameplayer-bot-gadget.service
Requires=gameplayer-bot-gadget.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /home/pi/gameplayer-bot/src/main.py --boot --camera csi
WorkingDirectory=/home/pi/gameplayer-bot
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
